#ifndef TEST\do ucase [%]_H
#define TEST\do ucase [%]_H

#include "bytestcase.h"
#include <QObject>
#include <QTest>

class Test% :  public ByTestCase
{
    Q_OBJECT

public:
    Test%();

private Q_SLOTS:
    void initTestCase();
    void cleanupTestCase();

    void GetAll%();
    void Insert%();

    void GetById%Success();
    void GetById%NotExist();

    void DeleteId%Success();
    void DeleteId%NotExist();

    void UpdateId%Success();
    void UpdateId%NotExist();
};

#endif // TEST\do ucase [%]_H
